@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@500&family=Roboto&display=swap');

html {
  transition: background 1s ease-in;
  -webkit-background-size: cover;
  background-size: cover;
  background: linear-gradient(44.8deg, rgba(255, 136, 102, 0.67) -53.1%, rgba(255, 221, 136, 0.28) 49%) fixed;
}

._container {
  font-family: 'Roboto', sans-serif;
  padding: 20px 0 100px 0;
}

.theme {
  width: 100px;
  margin: 0 auto 80px auto;
  height: 50px;
  background-color: #F0B703;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  padding: 5px;
  transition: all .2s ease-in;


  &__toggle {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transition: all .2s ease-in;
  }
}

.app {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 390px;
  margin: auto;
  border: 1px solid #fff;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  transition: background 1s ease-in;

  &-black {
    background: linear-gradient(136deg, #424242 0%, rgba(66, 66, 66, 0.40) 100%);
    -webkit-background-size: cover;
    background-size: cover;
    border: 1px solid transparent;
  }

  &__title {
    text-align: center;
    color: #707070;
    font-size: 30px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__error {
    height: 20px;
    text-align: center;
    color: red;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 140%;
  }

  &__show {

    &-exp {
      height: 44px;
      text-align: right;
      color: #707070;
      font-size: 37px;
      line-height: normal;
      margin-bottom: 15px;

      &-dark {
        color: #818181;
      }
    }

    &-number {
      height: 125px;
      text-align: right;
      color: #000;
      font-size: 106px;
      line-height: normal;
      margin-bottom: 35px;

      &-dark {
        color: #a6a6a6;
      }
    }
  }

  &__buttons {
  }

  &__buttons-container {
    display: grid;
    grid-template: repeat(5, 80px) / repeat(4, 80px);
    row-gap: 18px;
    column-gap: 12px;
  }
}

.button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #707070;
  font-size: 36px;
  line-height: normal;
  background-color: #f6f6f6;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.1s ease-in;


  &:hover {
    background-color: #eeeeee;
  }

  &-dark {
    background-color: #b4b4b4;
    transition: all .1s ease-in;

    &:hover {
      background-color: #d5d5d5;
    }
  }

  &-sign {
  }

  &-number {
  }

  &-span-row {
    grid-row: 4 / 6;
    grid-column: 4 / 5;
    background-color: #56CB95;
    color: #ffffff;
    font-family: 'Athiti', sans-serif;
    font-weight: 500;

    &:hover {
      background-color: #38be84;
    }

    &-dark {
      background-color: #2c9469;

      &:hover {
        background-color: #38b27f;
      }
    }
  }

  &-span-column {
    grid-column: 1 / 3;
  }
}