@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@500&family=Roboto&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  background-color: #626262;
}

._container {
  padding-top: 100px;
}

.app {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 390px;
  margin: auto;
  border: 1px solid #fff;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;

  &__title {
    text-align: center;
    color: #707070;
    font-size: 30px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__error {
    height: 20px;
    text-align: center;
    color: red;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 140%;
  }

  &__show {

    &-exp {
      height: 44px;
      text-align: right;
      color: #707070;
      font-size: 37px;
      line-height: normal;
      margin-bottom: 15px;
    }
    &-number {
      height: 125px;
      text-align: right;
      color: #000;
      font-size: 106px;
      line-height: normal;
      margin-bottom: 35px;
    }
  }
  &__buttons {}
  &__buttons-container {
    display: grid;
    grid-template: repeat(5, 80px) / repeat(4, 80px);
    row-gap: 18px;
    column-gap: 12px;
  }
}

.button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #707070;
  font-size: 36px;
  line-height: normal;
  background-color: #fff;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.1s ease-in;

  &:hover {
    background-color: #eeeeee;
  }

  &-sign {}
  &-number {}
  &-span-row {
    grid-row: 4 / 6;
    grid-column: 4 / 5;
    background-color: #56CB95;
    color: #ffffff;
    font-family: 'Athiti', sans-serif;
    font-weight: 500;

    &:hover {
      background-color: #38be84;
    }
  }
  &-span-column {
    grid-column: 1 / 3;
  }
}